#questionShowPage {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
}

#titleNButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 25px;
  
  button {
    display: block;
    height: 100%;
    width: 13%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  button:hover {
    background-color: #0b80d9;
    cursor: pointer;
  }
}

#questionTop {
  padding-bottom: 20px;
}

#date {
  display: flex;

  p {
    padding-right: 30px;
  }

  span {
    color: gray;
  }
}

#questionTitle {
  font-size: 25px;
}

#questionBody {
  padding-bottom: 20px;
}

#voteNBody {
  display: flex;
  border-top: 1px solid lightgray;
  padding-top: 30px;
}

#vote {
  padding-right: 20px;
}

#answerCount {
  font-size: 23px;
}

.answer {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 20px;
  line-height: 1.5;

  .answerBottom {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .answerBottomB {
    display: flex;
    justify-content: flex-end;
  }

  .answerBottomLinks {
    display: flex;
    justify-content: space-between;
    
    a {
      padding-right: 10px;
      color: gray;
      font-size: 14px;
    }
  }
}

.answerForm {

}

#bottomOfQuestion {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

#extralinks {
  display: flex;

  a {
    text-decoration: none;
    color: gray;
    margin-right: 10px;

    &:hover {
      color: darkgray;
    }
  }
}

#questionAuthorInfo {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#dateName {
  display: flex;
  flex-direction: column;
}

#voteNBody {
  display: flex;
}

#vote {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    padding: 0px;
    margin: 9px;
    width: 100%;

    background-color: white;
    border: none;
    width: 0; 
    height: 15px; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    z-index: 3;

    &:hover {
      cursor: pointer;
    }
  }

  #upvote {
    border-bottom: 15px solid lightgray;
  } 

  #downvote {
    border-top: 15px solid lightgray;
  }

}

.coloredUpvote {
  border-bottom: 15px solid orange;
}

.coloredDownvote {
  border-top: 15px solid orange;
}

