#commentForm {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

textarea {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 60%;
}

#createCommentButton {
  background: none;
  text-align: right;
  border: none; 
  color: gray;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

