#navbar {
  display: flex;
  flex-direction: column;
  z-index: 4;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #f8f9f9;
  box-shadow: 0px 2px 3px lightgrey;

  ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 100%;
  }
}

.navbar > li {
  display: flex;
  justify-content: space-around;
}

.sessionLinks {
  display: flex;
  align-items: center;
}

#loginText {
  text-decoration: none;
  color: #7fa6c1;
}

#signupText {
  text-decoration: none;
  color: white;
}

#loginButton {
  background-color: #e1ecf4;
  border: 1px solid #bdd3e3;
  border-radius: 3px;
  margin-left: 7px;
  height: 70%;
  color: #7fa6c1;
}

#loginButton:hover {
  background-color: #b6cfe0;
  cursor: pointer;
}

#signupButton {
  background-color: #0a95ff;
  border: 1px solid #38a9ff;
  border-radius: 3px;
  margin-left: 7px;
  height: 70%;
  color: white;
}

#signupButton:hover {
  background-color: #0b80d9;
  cursor: pointer;
}

#banner {
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #f48225;
  width: 100%;
  height: 0.4vh;
}

#home {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 20px;
  height: 100%;

  a {
    height: 100%;
  }
  
  a > * {
    height: 100%
  }
}

#home:hover {
  background-color: lightgray;
}

#home i {
  font-size: 30px;
  margin-right: 5px;
}

#home span {
  font-weight: bold;
  margin-left: 3px;
}

.dropdownButton {
  background-color: #f8f9f9;
  border: none;
  color: gray;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 2;
  box-shadow: 0px 0px 3px 3px gainsboro;
  background-color: light-gray;

  a {
    text-decoration: none;
    display: block;
    padding: 12px;
  }

  a:hover {
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logoutButton {
  height: 100%;
  margin-top: 5px;
  background-color: #e1ecf4;
  border: 1px solid #bdd3e3;
  border-radius: 3px;
  margin-left: 7px;
  height: 70%;
  color: #7fa6c1;
}

.logoutButton:hover {
  background-color: #b6cfe0;
  cursor: pointer;
}
